.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
.main {
  margin-top: 6em;
}
.actions {
  float: right;
}
.status {
  display: none;
}

.status.completed{
  display: inline-flex;
  background-color: grey;
  border-radius: 5px;
  padding: 2px;
  margin: 5px;
}
.check.icon {
  color: darkblue;
  margin-top: 7px;
  float: right
}
.edit.icon {
  color: blue;
  margin-top: 7px;
  float: right;
}
.trash.icon {
  color: red;
  margin-top: 7px;
  float: right;
  margin-left: 10px;
}
.date_created {
  color: grey;
  margin-top: 5px;
  float: left;
   font-size: 12px;
}
.comp {
  outline:none;
  background: none;
  float:right;
  border: none;
  margin-right:1rem;
}
.user {
  width: 60px;
  height: 60px;
  margin: auto;
}